In [ ]:
nome = 'gustavo'
idade = 15

In [ ]:
print(nome)

gustavo